body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background-color: lightgrey;
}

.st0 {
  fill: #ffffff;
}

.st1 {
  fill: #4489e4;
}

.st2 {
  fill: #ffffff;
  stroke: #4489e4;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st3 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.red {
  color: red;
}

#svg-forgot-email {
  enable-background: new 0 0 98 98;
  height: 140px;
}

#forgot-password-email {
  font-size: 30px;
  background: #e8e8e8;
  padding: 3px 8px;
}
