body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background-color: lightgrey;
}

.red {
  color: red;
}

#forgot-password-email {
  font-size: 30px;
  background: #e8e8e8;
  padding: 3px 8px;
}
